@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card" style="padding-left:20px; padding-right:20px;">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Deneyim Ekle</h3>
                </div>
                @using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
                {
                    @Html.HiddenFor(e=>e.Id)
                    <label>Deneyim Başlığı</label>
                    @Html.TextBoxFor(e=>e.Name , new {@class="form-control"})

                    <label>Deneyim Tarihi</label>
                    @Html.TextBoxFor(e=>e.Date , new {@class="form-control"})
                    <label>Resim Yolu</label>
                    @Html.TextBoxFor(e => e.ImageUrl, new { @class = "form-control" })
                    <label>Açıklama</label>
                    @Html.TextAreaFor(e=>e.Description,10,3, new {@class="form-control"})
                    <br/>
                    <button class="btn btn-primary">Ekle</button>
                }
            </div>
           
        </div>
    </div>
</div>
